/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }


:root {

    /* color variables */
--teal-050: #F0FDFA;
--teal-100: #CCFBF1;
--teal-200: #99F6E4;
--teal-300: #5EEAD4;
--teal-400: #2DD4BF;
--teal-500: #14B8A6;
--teal-600: #0D9488;
--teal-700: #0F766E;
--teal-800: #115E59;
--teal-900: #134E4A;

}

/* Desktops */
@media (min-width: 768px) {
    section { padding: 4% 20% }
 }
 
 /* Mobiles */
 @media (max-width: 767px) {
    section { padding: 8% 5% }
 }

 body { background-color: lightblue;

}

section *:last-child { margin-bottom: 0 !important }

h2 {
    font-size: 56px;
    margin-bottom: 4px;
    color: blue;
}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
}

p {
    font-size: 20px;
    margin-bottom: 16px
}

a { color: blue; }


.section-1{
background-color: var(--teal-050)

}

.section-2{
background-color: var(--teal-100)
    
}

.section-3{
background-color: var(--teal-200)
    
}

.section-4{
background-color: var(--teal-300)
}

.section-5{
background-color: var(--teal-400)
    
}

.section-6{
background-color: var(--teal-500)
    
}

.lucas {
    width: 200px;
    height: auto;
    max-width: 100%;
}
