
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #808080 }

header.theme-dark   { background-color: #a0a0a0 }

header.theme-dark  h1 { color: var(--sky-400); }

section.theme-dark   { background-color: #c0c0c0}

footer.theme-dark   { background-color: #dfdfdf }



header .col-text h2, .col-1 > h3 { line-height: 1.8 }

.brand {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.foto-pessoal {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0f1214;
    box-shadow: inset;
}

h1, h2, h3, p {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  